<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/cli/index.html">Terraform CLI</a></h4>

    <ul class="nav docs-sidenav">

      <li>
        <a href="/docs/cli/index.html">Overview</a>
      </li>

      <li>
        <a href="/docs/cli/commands/index.html">Basic CLI Features</a>
      </li>

      <li>
        <a href="#">Initializing Working Directories</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/init/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/commands/init.html"><code>init</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/get.html"><code>get</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Provisioning Infrastructure</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/run/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/commands/plan.html"><code>plan</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/apply.html"><code>apply</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/destroy.html"><code>destroy</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Authenticating</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/auth/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/commands/login.html"><code>login</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/logout.html"><code>logout</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Writing and Modifying Code</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/code/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/commands/console.html"><code>console</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/fmt.html"><code>fmt</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/validate.html"><code>validate</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/0.13upgrade.html"><code>0.13upgrade</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/0.12upgrade.html"><code>0.12upgrade</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Inspecting Infrastructure</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/inspect/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/commands/graph.html"><code>graph</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/output.html"><code>output</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/show.html"><code>show</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/list.html"><code>state list</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/show.html"><code>state show</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Importing Infrastructure</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/import/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/commands/import.html"><code>import</code></a>
          </li>

          <li>
            <a href="/docs/cli/import/usage.html">Usage Tips</a>
          </li>

          <li>
            <a href="/docs/cli/import/importability.html">Resource Importability</a>
          </li>


        </ul>
      </li>

      <li>
        <a href="#">Manipulating State</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/state/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/state/resource-addressing.html">Resource Addressing</a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/index.html"><code>state</code></a>
          </li>

          <li>
            <a href="#">Inspecting State</a>
            <ul class="nav nav-auto-expand">
              <li>
                <a href="/docs/cli/state/inspect.html">Overview</a>
              </li>

              <li>
                <a href="/docs/cli/commands/state/list.html"><code>state list</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/state/show.html"><code>state show</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/refresh.html"><code>refresh</code></a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Forcing Re-creation (Tainting)</a>
            <ul class="nav nav-auto-expand">
              <li>
                <a href="/docs/cli/state/taint.html">Overview</a>
              </li>

              <li>
                <a href="/docs/cli/commands/taint.html"><code>taint</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/untaint.html"><code>untaint</code></a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Moving Resources</a>
            <ul class="nav nav-auto-expand">
              <li>
                <a href="/docs/cli/state/move.html">Overview</a>
              </li>

              <li>
                <a href="/docs/cli/commands/state/mv.html"><code>state mv</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/state/rm.html"><code>state rm</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/state/replace-provider.html"><code>state replace-provider</code></a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Disaster Recovery</a>
            <ul class="nav nav-auto-expand">
              <li>
                <a href="/docs/cli/state/recover.html">Overview</a>
              </li>

              <li>
                <a href="/docs/cli/commands/state/pull.html"><code>state pull</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/state/push.html"><code>state push</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/force-unlock.html"><code>force-unlock</code></a>
              </li>
            </ul>
          </li>

        </ul>
      </li> <!-- state -->

      <li>
        <a href="#">Managing Workspaces</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/workspaces/index.html">Overview</a>
          </li>

          <li>
            <a href="#"><code>workspace</code></a>
            <ul class="nav nav-auto-expand">
              <li>
                <a href="/docs/cli/commands/workspace/index.html">Overview</a>
              </li>

              <li>
                <a href="/docs/cli/commands/workspace/list.html"><code>workspace list</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/workspace/select.html"><code>workspace select</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/workspace/new.html"><code>workspace new</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/workspace/delete.html"><code>workspace delete</code></a>
              </li>

              <li>
                <a href="/docs/cli/commands/workspace/show.html"><code>workspace show</code></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Managing Plugins</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/plugins/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/plugins/signing.html">Plugin Signing</a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers.html"><code>providers</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/version.html"><code>version</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers/lock.html"><code>providers lock</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers/mirror.html"><code>providers mirror</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers/schema.html"><code>providers schema</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">CLI Configuration</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/config/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/config/config-file.html">CLI Config File</a>
          </li>

          <li>
            <a href="/docs/cli/config/environment-variables.html">Environment Variables</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Using Terraform Cloud</a>
        <ul class="nav">
          <li>
            <a href="/docs/cli/cloud/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/cli/cloud/settings.html">Terraform Cloud Settings</a>
          </li>

          <li>
            <a href="/docs/cli/cloud/migrating.html">Initializing and Migrating</a>
          </li>

          <li>
            <a href="/docs/cli/cloud/command-line-arguments.html">Command Line Arguments</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Automating Terraform</a>
        <ul class="nav">
          <li>
            <a href="https://learn.hashicorp.com/tutorials/terraform/automate-terraform?in=terraform/automation&utm_source=WEBSITE&utm_medium=WEB_IO&utm_offer=ARTICLE_PAGE&utm_content=DOCS">
              Running Terraform in Automation
              <img src="/assets/images/outbound-link.svg" width="20" height="20" aria-hidden="true" style="vertical-align: text-bottom;">
            </a>
          </li>

          <li>
            <a href="https://learn.hashicorp.com/tutorials/terraform/github-actions?utm_source=WEBSITE&utm_medium=WEB_IO&utm_offer=ARTICLE_PAGE&utm_content=DOCS">
              GitHub Actions
              <img src="/assets/images/outbound-link.svg" width="20" height="20" aria-hidden="true" style="vertical-align: text-bottom;">
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Alphabetical List of Commands</a>
        <ul class="nav">

          <li>
            <a href="/docs/cli/commands/apply.html"><code>apply</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/console.html"><code>console</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/destroy.html"><code>destroy</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/env.html"><code>env</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/fmt.html"><code>fmt</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/force-unlock.html"><code>force-unlock</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/get.html"><code>get</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/graph.html"><code>graph</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/import.html"><code>import</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/init.html"><code>init</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/login.html"><code>login</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/logout.html"><code>logout</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/output.html"><code>output</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/plan.html"><code>plan</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers.html"><code>providers</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers/lock.html"><code>providers lock</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers/mirror.html"><code>providers mirror</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/providers/schema.html"><code>providers schema</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/push.html"><code>push</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/refresh.html"><code>refresh</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/show.html"><code>show</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/list.html"><code>state list</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/mv.html"><code>state mv</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/pull.html"><code>state pull</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/push.html"><code>state push</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/replace-provider.html"><code>state replace-provider</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/rm.html"><code>state rm</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/state/show.html"><code>state show</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/taint.html"><code>taint</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/test.html"><code>test</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/untaint.html"><code>untaint</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/validate.html"><code>validate</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/version.html"><code>version</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/workspace/list.html"><code>workspace list</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/workspace/select.html"><code>workspace select</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/workspace/new.html"><code>workspace new</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/workspace/delete.html"><code>workspace delete</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/workspace/show.html"><code>workspace show</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/0.12upgrade.html"><code>0.12upgrade</code></a>
          </li>

          <li>
            <a href="/docs/cli/commands/0.13upgrade.html"><code>0.13upgrade</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Internals</a>
        <ul class="nav">
          <li>
            <a href="/docs/internals/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/internals/credentials-helpers.html">Credentials Helpers</a>
          </li>

          <li>
            <a href="/docs/internals/debugging.html">Debugging Terraform</a>
          </li>

          <li>
            <a href="/docs/internals/json-format.html">JSON Output Format</a>
          </li>

          <li>
            <a href="/docs/internals/login-protocol.html">Login Protocol</a>
          </li>

          <li>
            <a href="/docs/internals/machine-readable-ui.html">Machine-Readable UI</a>
          </li>

          <li>
            <a href="/docs/internals/module-registry-protocol.html">Module Registry Protocol</a>
          </li>

          <li>
            <a href="/docs/internals/provider-meta.html">Provider Metadata</a>
          </li>

          <li>
            <a href="/docs/internals/provider-network-mirror-protocol.html">Provider Network Mirror Protocol</a>
          </li>

          <li>
            <a href="/docs/internals/provider-registry-protocol.html">Provider Registry Protocol</a>
          </li>

          <li>
            <a href="/docs/internals/remote-service-discovery.html">Remote Service Discovery</a>
          </li>

          <li>
            <a href="/docs/internals/graph.html">Resource Graph</a>
          </li>

        </ul>
      </li>

    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform CLI" }) %>
  <% end %>

  <%= yield %>
<% end %>
