<% wrap_layout :inner do %>
  <% content_for(:custom_share) do %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="<%= image_url("og-image-large.png") %>"/>
  <% end %>

  <% content_for :sidebar do %>
    <h4><a href="/intro/index.html">Introduction to Terraform</a></h4>

    <ul class="nav docs-sidenav">
      <li>
        <a href="/intro/index.html">What is Terraform?</a>
      </li>

      <li>
        <a href="/intro/use-cases.html">Use Cases</a>
      </li>

      <li>
        <a href="https://learn.hashicorp.com/collections/terraform/aws-get-started?utm_source=WEBSITE&utm_medium=WEB_IO&utm_offer=ARTICLE_PAGE&utm_content=DOCS">Getting Started</a>
      </li>

      <li>
        <a href="/guides/core-workflow.html">The Core Terraform Workflow</a>
      </li>

      <li><a href="/docs/cloud/guides/recommended-practices/index.html">Terraform Recommended Practices</a>
        <ul class="nav">
          <li><a href="/docs/cloud/guides/recommended-practices/part1.html">Part 1: Workflow Overview</a></li>
          <li><a href="/docs/cloud/guides/recommended-practices/part2.html">Part 2: Evaluating Current Practices</a></li>
          <li><a href="/docs/cloud/guides/recommended-practices/part3.html">Part 3: Evolving Your Practices</a></li>
          <li><a href="/docs/cloud/guides/recommended-practices/part3.1.html">Part 3.1: From Manual to Semi-Automated</a></li>
          <li><a href="/docs/cloud/guides/recommended-practices/part3.2.html">Part 3.2: From Semi-Automated to Infrastructure as Code</a></li>
          <li><a href="/docs/cloud/guides/recommended-practices/part3.3.html">Part 3.3: From Infrastructure as Code to Collaborative IaC</a></li>
          <li><a href="/docs/cloud/guides/recommended-practices/part3.4.html">Part 3.4: Advanced Improvements</a></li>
        </ul>
      </li>

      <li>
        <a href="/intro/vs/index.html">Terraform vs. Other</a>
        <ul class="nav">
          <li>
            <a href="/intro/vs/chef-puppet.html">Chef, Puppet, etc.</a>
          </li>
          <li>
            <a href="/intro/vs/cloudformation.html">CloudFormation, Heat, etc.</a>
          </li>
          <li>
            <a href="/intro/vs/boto.html">Boto, Fog, etc.</a>
          </li>
          <li>
            <a href="/intro/vs/custom.html">Custom Solutions</a>
          </li>
        </ul>
      </li>
    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Introduction to Terraform" }) %>
  <% end %>

  <%= yield %>
<% end %>
