<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/configuration/index.html">Terraform Language</a></h4>

    <ul class="nav docs-sidenav">

      <li>
        <a href="/docs/configuration/index.html">Overview</a>
      </li>

      <li>
        <a href="#">Files and Directories</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/files/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration/override.html">Override Files</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Syntax</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/syntax/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration/syntax.html">Configuration Syntax</a>
          </li>

          <li>
            <a href="/docs/configuration/syntax-json.html">JSON Configuration Syntax</a>
          </li>

          <li>
            <a href="/docs/configuration/style.html">Style Conventions</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Resources</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/blocks/resources/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration/blocks/resources/syntax.html">Resource Blocks</a>
          </li>

          <li>
            <a href="/docs/configuration/blocks/resources/behavior.html">Resource Behavior</a>
          </li>

          <li>
            <a href="#">Meta-Arguments</a>
            <ul class="nav nav-auto-expand">
              <li>
                <a href="/docs/configuration/meta-arguments/depends_on.html"><code>depends_on</code></a>
              </li>

              <li>
                <a href="/docs/configuration/meta-arguments/count.html"><code>count</code></a>
              </li>

              <li>
                <a href="/docs/configuration/meta-arguments/for_each.html"><code>for_each</code></a>
              </li>

              <li>
                <a href="/docs/configuration/meta-arguments/resource-provider.html"><code>provider</code></a>
              </li>

              <li>
                <a href="/docs/configuration/meta-arguments/lifecycle.html"><code>lifecycle</code></a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Provisioners</a>
            <ul class="nav">
              <li>
                <a href="/docs/configuration/blocks/resources/provisioners/index.html">Overview</a>
              </li>

              <li>
                <a href="/docs/provisioners/index.html">Declaring Provisioners</a>
              </li>

              <li>
                <a href="/docs/provisioners/connection.html">Provisioner Connections</a>
              </li>

              <li>
                <a href="/docs/provisioners/null_resource.html">Provisioners Without a Resource</a>
              </li>

              <li>
                <a href="#">Generic Provisioners</a>
                <ul class="nav nav-auto-expand">
                  <li>
                    <a href="/docs/provisioners/file.html">file</a>
                  </li>

                  <li>
                    <a href="/docs/provisioners/local-exec.html">local-exec</a>
                  </li>

                  <li>
                    <a href="/docs/provisioners/remote-exec.html">remote-exec</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#">Vendor Provisioners</a>
                <ul class="nav nav-auto-expand">
                  <li>
                    <a href="/docs/provisioners/chef.html">chef</a>
                  </li>

                  <li>
                    <a href="/docs/provisioners/habitat.html">habitat</a>
                  </li>

                  <li>
                    <a href="/docs/provisioners/puppet.html">puppet</a>
                  </li>

                  <li>
                    <a href="/docs/provisioners/salt-masterless.html">salt-masterless</a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>

        </ul>
      </li> <!-- resources -->

      <li>
        <a href="/docs/configuration/data-sources.html">Data Sources</a>
      </li>

      <li>
        <a href="#">Providers</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/blocks/providers/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration/provider-requirements.html">Provider Requirements</a>
          </li>

          <li>
            <a href="/docs/configuration/providers.html">Provider Configuration</a>
          </li>

          <li>
            <a href="/docs/configuration/dependency-lock.html">Dependency Lock File</a>
          </li>

          <li>
            <a href="#">Provider Documentation</a>
            <ul class="nav">
              <li>
                <a href="/docs/providers/index.html">Overview</a>
              </li>

              <li>
                 <a href="/docs/providers/type/major-index.html">Major Cloud</a>
              </li>

              <li>
                 <a href="/docs/providers/type/cloud-index.html">Cloud</a>
              </li>

              <li>
                 <a href="/docs/providers/type/infra-index.html">Infrastructure Software</a>
              </li>

              <li>
                 <a href="/docs/providers/type/network-index.html">Network</a>
              </li>

              <li>
                 <a href="/docs/providers/type/vcs-index.html">VCS</a>
              </li>

              <li>
                 <a href="/docs/providers/type/monitor-index.html">Monitor & System Management</a>
              </li>

              <li>
                 <a href="/docs/providers/type/database-index.html">Database</a>
              </li>

              <li>
                 <a href="/docs/providers/type/misc-index.html">Misc.</a>
              </li>

              <li>
                 <a href="/docs/providers/type/community-index.html">Community</a>
              </li>
            </ul>
          </li>

        </ul>
      </li><!-- providers -->

      <li>
        <a href="#">Variables and Outputs</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/blocks/values/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration/variables.html">Input Variables</a>
          </li>

          <li>
            <a href="/docs/configuration/outputs.html">Output Values</a>
          </li>

          <li>
            <a href="/docs/configuration/locals.html">Local Values</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Modules</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/blocks/modules/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration/blocks/modules/syntax.html">Module Blocks</a>
          </li>

          <li>
            <a href="/docs/modules/sources.html">Module Sources</a>
          </li>

          <li>
            <a href="#">Meta-Arguments</a>
            <ul class="nav nav-auto-expand">
              <li>
                <a href="/docs/configuration/meta-arguments/module-providers.html"><code>providers</code></a>
              </li>

              <li>
                <a href="/docs/configuration/meta-arguments/depends_on.html"><code>depends_on</code></a>
              </li>

              <li>
                <a href="/docs/configuration/meta-arguments/count.html"><code>count</code></a>
              </li>

              <li>
                <a href="/docs/configuration/meta-arguments/for_each.html"><code>for_each</code></a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Module Development</a>
            <ul class="nav">
              <li>
                <a href="/docs/modules/index.html">Overview</a>
              </li>

              <li>
                <a href="/docs/modules/structure.html">Standard Module Structure</a>
              </li>

              <li>
                <a href="/docs/modules/providers.html">Providers Within Modules</a>
              </li>

              <li>
                <a href="/docs/modules/composition.html">Best Practices: Module Composition</a>
              </li>

              <li>
                <a href="/docs/modules/publish.html">Publishing Modules</a>
              </li>
            </ul>
          </li>
        </ul>
      </li><!-- modules -->

      <li>
        <a href="#">Expressions</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/expressions/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/types.html">Types and Values</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/strings.html">Strings and Templates</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/references.html">References to Values</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/operators.html">Operators</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/function-calls.html">Function Calls</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/conditionals.html">Conditional Expressions</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/for.html">For Expressions</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/splat.html">Splat Expressions</a>
          </li>

          <li>
            <a href="/docs/configuration/expressions/dynamic-blocks.html">Dynamic Blocks</a>
          </li>

          <li>
            <a href="/docs/configuration/types.html">Type Constraints</a>
          </li>

          <li>
            <a href="/docs/configuration/version-constraints.html">Version Constraints</a>
          </li>
        </ul>
      </li>


      <li>
        <a href="#">Functions</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/functions.html">Overview</a>
          </li>

          <li>
            <a href="#">Numeric Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/abs.html">abs</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/ceil.html">ceil</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/floor.html">floor</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/log.html">log</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/max.html">max</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/min.html">min</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/parseint.html">parseint</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/pow.html">pow</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/signum.html">signum</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">String Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/chomp.html">chomp</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/format.html">format</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/formatlist.html">formatlist</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/indent.html">indent</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/join.html">join</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/lower.html">lower</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/regex.html">regex</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/regexall.html">regexall</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/replace.html">replace</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/split.html">split</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/strrev.html">strrev</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/substr.html">substr</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/title.html">title</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/trim.html">trim</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/trimprefix.html">trimprefix</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/trimsuffix.html">trimsuffix</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/trimspace.html">trimspace</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/upper.html">upper</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">Collection Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/alltrue.html">alltrue</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/anytrue.html">anytrue</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/chunklist.html">chunklist</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/coalesce.html">coalesce</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/coalescelist.html">coalescelist</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/compact.html">compact</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/concat.html">concat</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/contains.html">contains</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/distinct.html">distinct</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/element.html">element</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/flatten.html">flatten</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/index.html">index</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/keys.html">keys</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/length.html">length</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/list.html">list</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/lookup.html">lookup</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/map.html">map</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/matchkeys.html">matchkeys</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/merge.html">merge</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/range.html">range</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/reverse.html">reverse</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/setintersection.html">setintersection</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/setproduct.html">setproduct</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/setsubtract.html">setsubtract</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/setunion.html">setunion</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/slice.html">slice</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/sort.html">sort</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/sum.html">sum</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/transpose.html">transpose</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/values.html">values</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/zipmap.html">zipmap</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">Encoding Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/base64decode.html">base64decode</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/base64encode.html">base64encode</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/base64gzip.html">base64gzip</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/csvdecode.html">csvdecode</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/jsondecode.html">jsondecode</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/jsonencode.html">jsonencode</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/textdecodebase64.html">textdecodebase64</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/textencodebase64.html">textencodebase64</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/urlencode.html">urlencode</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/yamldecode.html">yamldecode</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/yamlencode.html">yamlencode</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">Filesystem Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/abspath.html">abspath</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/dirname.html">dirname</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/pathexpand.html">pathexpand</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/basename.html">basename</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/file.html">file</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/fileexists.html">fileexists</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/fileset.html">fileset</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/filebase64.html">filebase64</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/templatefile.html">templatefile</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">Date and Time Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/formatdate.html">formatdate</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/timeadd.html">timeadd</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/timestamp.html">timestamp</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">Hash and Crypto Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/base64sha256.html">base64sha256</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/base64sha512.html">base64sha512</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/bcrypt.html">bcrypt</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/filebase64sha256.html">filebase64sha256</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/filebase64sha512.html">filebase64sha512</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/filemd5.html">filemd5</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/filesha1.html">filesha1</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/filesha256.html">filesha256</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/filesha512.html">filesha512</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/md5.html">md5</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/rsadecrypt.html">rsadecrypt</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/sha1.html">sha1</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/sha256.html">sha256</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/sha512.html">sha512</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/uuid.html">uuid</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/uuidv5.html">uuidv5</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">IP Network Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/cidrhost.html">cidrhost</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/cidrnetmask.html">cidrnetmask</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/cidrsubnet.html">cidrsubnet</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/cidrsubnets.html">cidrsubnets</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="#">Type Conversion Functions</a>
            <ul class="nav">

              <li>
                <a href="/docs/configuration/functions/can.html">can</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/tobool.html">tobool</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/tolist.html">tolist</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/tomap.html">tomap</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/tonumber.html">tonumber</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/toset.html">toset</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/tostring.html">tostring</a>
              </li>

              <li>
                <a href="/docs/configuration/functions/try.html">try</a>
              </li>

            </ul>
          </li>

        </ul>

      </li><!-- function reference -->

      <li>
        <a href="#">Terraform Settings</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration/terraform.html">Overview</a>
          </li>

          <li>
            <a href="#">Backends</a>
            <ul class="nav">
              <li>
                <a href="/docs/configuration/blocks/backends/index.html">Overview</a>
              </li>

              <li>
                <a href="/docs/configuration/backend.html">Backend Configuration</a>
              </li>

              <li>
                <a href="#">Enhanced Backends</a>
                <ul class="nav nav-auto-expand">
                  <li>
                    <a href="/docs/backends/types/local.html">local</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/remote.html">remote</a>
                  </li>
                </ul>
              </li>


              <li>
                <a href="#">Standard Backends</a>
                <ul class="nav nav-auto-expand">
                  <li>
                    <a href="/docs/backends/types/artifactory.html">artifactory</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/azurerm.html">azurerm</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/consul.html">consul</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/cos.html">cos</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/etcd.html">etcd</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/etcdv3.html">etcdv3</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/gcs.html">gcs</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/http.html">http</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/kubernetes.html">kubernetes</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/manta.html">manta</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/oss.html">oss</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/pg.html">pg</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/s3.html">s3</a>
                  </li>
                  <li>
                    <a href="/docs/backends/types/swift.html">swift</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li><!-- backends -->
        </ul>
      </li><!-- settings -->

      <li>
        <a href="#">State</a>
        <ul class="nav">
          <li>
            <a href="/docs/state/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/state/purpose.html">Purpose</a>
          </li>

          <li>
            <a href="/docs/backends/state.html">Backends: State Storage & Locking</a>
          </li>

          <li>
            <a href="/docs/state/import.html">Import Existing Resources</a>
          </li>

          <li>
            <a href="/docs/state/locking.html">Locking</a>
          </li>

          <li>
            <a href="/docs/state/workspaces.html">Workspaces</a>
          </li>

          <li>
            <a href="/docs/state/remote.html">Remote State</a>
          </li>

          <li>
            <a href="/docs/state/sensitive-data.html">Sensitive Data</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Upgrade Guides</a>
        <ul class="nav">
          <li>
            <a href="/upgrade-guides/index.html">Overview</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-14.html">Upgrading to v0.14</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-13.html">Upgrading to v0.13</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-12.html">Upgrading to v0.12</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-11.html">Upgrading to v0.11</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-10.html">Upgrading to v0.10</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-9.html">Upgrading to v0.9</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-8.html">Upgrading to v0.8</a>
          </li>

          <li>
            <a href="/upgrade-guides/0-7.html">Upgrading to v0.7</a>
          </li>
        </ul>
      </li>


      <li>
        <a href="#">Historical docs: 0.11 and Older</a>
        <ul class="nav">
          <li>
            <a href="/docs/configuration-0-11/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/load.html">Load Order and Semantics</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/syntax.html">Configuration Syntax</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/interpolation.html">Interpolation Syntax</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/override.html">Overrides</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/resources.html">Resources</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/data-sources.html">Data Sources</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/providers.html">Providers</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/variables.html">Variables</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/outputs.html">Outputs</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/locals.html">Local Values</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/modules.html">Modules</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/terraform.html">Terraform</a>
          </li>

          <li>
            <a href="/docs/provisioners/index.html?v=011">Provisioners</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/terraform-enterprise.html">Terraform Push (deprecated)</a>
          </li>

          <li>
            <a href="/docs/configuration-0-11/environment-variables.html">Environment Variables</a>
          </li>
        </ul>
      </li>

    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform Language" }) %>
  <% end %>

  <%= yield %>
<% end %>
