<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/registry/index.html">Publishing Providers &amp; Modules</a></h4>

    <ul class="nav docs-sidenav">
      <li>
        <a href="/docs/registry/index.html">Overview</a>
      </li>

      <li>
        <a href="#">Providers</a>
        <ul class="nav nav-auto-expand">
          <li>
            <a href="/docs/registry/providers/index.html">Overview</a>
          </li>

          <li>
            <a href="/docs/registry/providers/publishing.html">Publishing Providers</a>
          </li>

          <li>
            <a href="/docs/plugins/signing.html">Plugin Signing</a>
          </li>

          <li>
            <a href="/docs/registry/providers/docs.html">Documenting Providers</a>
          </li>

          <li>
            <a href="/docs/registry/providers/os-arch.html">Recommended OS and Architecture</a>
          </li>

          <li>
            <a href="/guides/terraform-provider-development-program.html">Provider Development Program</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Modules</a>
        <ul class="nav nav-auto-expand">
          <li>
            <a href="/docs/registry/modules/use.html">Finding and Using Modules</a>
          </li>

          <li>
            <a href="/docs/registry/modules/publish.html">Publishing Modules</a>
          </li>

          <li>
            <a href="/docs/registry/modules/verified.html">Verified Modules</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/registry/private.html">Private Registries</a>
      </li>

      <li>
        <a href="/docs/registry/api.html">Registry API</a>
      </li>

    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Publishing Providers and Modules" }) %>
  <% end %>

  <%= yield %>
<% end %>
