provider "azurerm" {
  subscription_id = "REPLACE-WITH-YOUR-SUBSCRIPTION-ID"
  client_id       = "REPLACE-WITH-YOUR-CLIENT-ID"
  client_secret   = "REPLACE-WITH-YOUR-CLIENT-SECRET"
  tenant_id       = "REPLACE-WITH-YOUR-TENANT-ID"
}
