resource_group        = "myresourcegroup"
image_uri             = "https://DISK.blob.core.windows.net/vhds/ORIGINAL-VM.vhd"
primary_blob_endpoint = "https://DISK.blob.core.windows.net/"
location              = "southcentralus"
os_type               = "linux"
address_space         = "10.0.0.0/16"
subnet_prefix         = "10.0.0.0/24"
storage_account_name  = "STOR-ACCT-NAME"
storage_account_type  = "Standard_LRS"
vm_size               = "Standard_DS1_v2"
hostname              = "HOSTNAME"
admin_username        = "vmadmin"
admin_password        = "T3rr@f0rmP@ssword"