dist: trusty
sudo: false
language: go
go:
- 1.8.x

# add TF_CONSUL_TEST=1 to run consul tests
# they were causing timouts in travis
env:
  - CONSUL_VERSION=0.7.5 GOMAXPROCS=4

# Fetch consul for the backend and provider tests
before_install:
  - curl -sLo consul.zip https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip
  - unzip consul.zip
  - mkdir ~/bin
  - mv consul ~/bin
  - export PATH="~/bin:$PATH"

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh
- go get github.com/kardianos/govendor

# force the builtin vet command to get built, as there seems to be an old one
# installed in the toolchain
- go install -a -v cmd/vet

script:
- make vendor-status test vet
- GOOS=windows go build
branches:
  only:
  - master
notifications:
  irc:
    channels:
    - irc.freenode.org#terraform-tool
    skip_join: true
    use_notice: true
matrix:
  fast_finish: true
  allow_failures:
  - go: tip
