//
// Home
// --------------------------------------------------
/*body.page-home{
	background-color: #f8f8f8;
}*/

.feature{
	padding: 240px 0;
	.anti-alias();

	h2{
		text-align: right;
		font-size: 44px;
		line-height: 54px;
		letter-spacing: 2px;
		color: @purple;
		.lato-light()
	}

	p{
		font-size: 16px;
		letter-spacing: 1px;
    line-height: 1.5em;
		color: @consul-gray;
		font-family: @font-family-lato;
		font-weight: @font-weight-lato-sb;
	}

	.icn{
		display: block;
		width: 186px;
		height: 272px;
		margin: 0 auto;
		background-position: center 0;
		background-repeat: no-repeat;
	}
}

#feature-auto{
	margin-top: -36px;
	background: #fff url(../images/white-wireframe.png) center top no-repeat;
	background-size: cover;
	.skewY(-2deg);

	>.container{
		.skewY(2deg);
	}

	.terminal-text{
		color: black;
		line-height: 88px;
		text-align: center;
		font-size: 35px;
		font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
	}
}

#feature-iterate{
	margin-top: -80px;
	padding: 240px 0;
	background: #fff url(../images/feature-iterate-bg.png) center top no-repeat;
	border-top: 2px solid white;
	border-bottom: 2px solid @purple;
	background-size: cover;
	.skewY(2deg);

	>.container{
		.skewY(-2deg);
	}
}

#feature-clone{
	margin-top: -80px;
	padding: 240px 0;
	background-color: @purple;
	.skewY(2deg);

	>.container{
		.skewY(-2deg);
	}
}


#footer{
	background-color: @consul-footer-gray;
    background: @consul-footer-gray url(../images/consul-footer-logo.png) center center no-repeat;
    .img-retina("../images/consul-footer-logo.png", "../images/consul-footer-logo@2x.png", 446px, 443px);

	.footer-links{
		margin-bottom: 20px;
	}

	.footer-hashi{
		letter-spacing: 2px;
    	margin-bottom: 30px;

    	a{
    		font-weight: @font-weight-lato-xb;
    	}

	    span{
	    	margin-right: 20px;
	    }
		img{
			display: inline-block;
       		width: 37px;
       		height: 40px;
		}
	}
}


@media (max-width: 992px) {
	#features{
		.double-row{
			padding: 0 0 0 0;
			.row{
				padding-bottom: 90px;
			}
		}

		.icn{
			height: 200px;
		}
	}
}

@media (max-width: 480px) {
	#features{
		text-align: center;
	}
}

#cta {
	padding: 130px 0 130px;

	.intro {
		.left {
			text-align: right;
		}

		.right {
			margin-top: 12px;
		}

	}

	p{
		font-size: 14px;
		letter-spacing: 1px;
        line-height: 1.5em;
		color: @consul-gray;
		font-family: @font-family-lato;
		font-weight: @font-weight-lato-sb;
	}



	.outline-btn {
		padding: 8px;
		display: inline-block;
		&:focus {
	    	outline: 0;
		}

	}

	a {
		font-weight: 500;
	    font-size: 16px;
	    text-transform: uppercase;
	    letter-spacing: 3px;
	    color: @purple;
	    &:hover {
	    	text-decoration: none;
	    }
	}
}

#demos{
	padding: 30px 0 60px;
	background-color: @light-purple;
	background: @light-purple url('../images/sidebar-dots.jpg') left 62px no-repeat;

	.explantion {
		margin: 40px 0 40px 0;

		h2 {
			font-size: 22px;
			color: lighten(@gray-light, 15%);
			text-transform: uppercase;
			font-family: @font-family-lato;
			font-weight: @font-weight-lato-xb;
		}

		p{
			font-size: 16px;
			letter-spacing: 1px;
	        line-height: 1.5em;
			color: @consul-gray;
			font-family: @font-family-lato;
			font-weight: @font-weight-lato-sb;
		}
	}

	.terminals{
		margin-bottom: 80px;

		.terminal-item{
			border-bottom: 1px solid #eaeae;

			&.last{
				border-bottom: none;
			}
			>header{
				.left{
					span.icn{
						display: inline-block;
						width: 83px;
						height: 74px;
					}
				}

				.right{
					padding-left: 25px;

					h2{
						margin-top: 0;
						font-size: 28px;
						text-transform: uppercase;
					}

					p{
						font-size: 16px;
					}
				}
			}

			.terminal{
				background-color: darken(@gray-darker, 15%);
				border-radius: 4px;

				header{
					position: relative;
					background-color: @consul-gray;
					text-align: center;
					padding: 3px;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;

					h4{
						font-size: 14px;
						letter-spacing: 1px;
						color: @gray-darker;
						font-family: @font-family-lato;
						font-weight: @font-weight-lato-xb;
					}

					ul.shell-dots{
						position: absolute;
						top: 10px;
						left: 8px;
						padding-left: 0;

						li{
							display: inline-block;
							width: 12px;
							height: 12px;
							border-radius: 6px;
							background-color: @gray-darker;
							margin-left: 6px;
						}
					}
				}

				.terminal-window{
					min-height: 140px;
					padding: 20px;
					font-size: 15px;
					font-weight: normal;
					font-family: "Courier New", Monaco, Menlo, Consolas, monospace;
					color: @white;

					.txt-r {
						color: lighten(@red, 8%);;
					}
					.txt-p {
						font-weight: bold;
						color: lighten(@purple, 15%);
					}
					p{
						margin-bottom: 2px;
						white-space: pre-wrap;
					}
					.cursor {
						background-color: @light-purple;
					}
				}
			}

			.feature-bullets{
				list-style-type: none;
				padding-left: 35px;

				li{
					padding: 5px 0 5px 45px;
				}
			}
		}
	}
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#demos{
		.terminals{
			.terminal-item{
				.feature-bullets{
					li{
						background-size: 12px 12px;
					}
				}
			}
		}
	}
}



@media (max-width: 992px) {
	#demos{
		.terminals{
			.terminal-item{
				>header{
					.left{
						span.icn{
						}
					}

					.right{
						padding-left: 54px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	#demos{
		.terminals{
			.terminal-item{
				>header{
					.left{
						span.icn{
							padding-bottom: 15px;
						}
					}

					.right{
						padding-left: 15px;
					}
				}
			}
		}
	}
}


