#!/usr/bin/env bash

export OS_AUTH_URL=http://KEYSTONE.ENDPOINT.URL:5000/v2.0
export OS_TENANT_NAME=YOUR_TENANT_NAME
export OS_USERNAME=YOUR_USERNAME
export OS_PASSWORD=YOUR_PASSWORD
export OS_REGION_NAME=YOUR_REGION_NAME
