//
// Button Styles
// --------------------------------------------------

.outline-btn{
	position: relative;
	display: inline-block;
	// Extra 3px of bottom padding compensates for ::after content
	padding: 20px 30px 23px;
	background-color: transparent;
	color: $white;
	border: 2px solid $white;
	//border-radius: $btn-border-radius;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none !important;
	@include transition(background-color .3s ease-in-out);

	&::after {
		font-size: 1.2em;
		content: "»";
		position: relative;
		left: 5px;
	}

	&.purple{
		color: $purple;
		border: 2px solid $purple;
	}

	&:hover{
		color: $white;
		background-color: rgba(255, 255, 255, .2);
		@include transition(background-color .3s ease-in-out);

		&.purple{
			background-color: rgba(255, 255, 255, .5);
		}
	}
}

.terra-btn{
	position: relative;
	display: inline-block;
	// Extra 3px of bottom padding compensates for ::after content
	padding: 20px 30px 23px;
	color: white;
  background-color: $purple;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
  @include transition( background-color 0.3s ease );

	&::after {
		font-size: 1.2em;
		content: "»";
		position: relative;
		left: 5px;
	}

  &:hover{
		color: white;
    background-color: rgba(130, 47, 247, 0.8);
		text-decoration: none;
    @include transition( background-color 0.3s ease );
  }
}

@media (max-width: 768px) {
	.outline-btn, .terra-btn{
		font-size: 16px;
		text-align: center;
	}
}

//animation on header main nav link hover
/*.li-under a::after {
  position: absolute;
  top: 68%;
  left: 50%;
  margin-left: -4px;
  width: 6px;
  height: 6px;
  background-color: white;
  content: '';
  opacity: 0;
  text-decoration: none;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.li-under a:hover::after,
.li-under a:focus::after {
    opacity: 1;
    -webkit-transform: skewY(15deg) translateY(10px);
    -moz-transform: skewY(15deg) translateY(10px);
    transform: skewY(15deg) translateY(10px);
}*/
