#page-Community {
    background: $light-black image-url('sidebar-wire.png') left 62px no-repeat;

    #main-content {
        background: white;
    }
}

.people {
    margin-top: 30px;

    .person {
        margin-bottom: 40px;
        min-height: 165px; // enough space for five lines of bio text

        h3 {
            text-transform: none;
        }

        img {
            width: 125px;
            margin: auto auto;
        }

        .bio {
            padding-left: 150px;
        }
    }
}
