//
// Docs
// --------------------------------------------------

body.page-sub{
	background-color: $light-black;
}

body.layout-backend-types,
body.layout-commands-env,
body.layout-commands-state,
body.layout-alicloud,
body.layout-archive,
body.layout-arukas,
body.layout-atlas,
body.layout-aws,
body.layout-azure,
body.layout-bitbucket,
body.layout-chef,
body.layout-azurerm,
body.layout-circonus,
body.layout-clc,
body.layout-cloudflare,
body.layout-cloudstack,
body.layout-cobbler,
body.layout-consul,
body.layout-datadog,
body.layout-digitalocean,
body.layout-dme,
body.layout-dns,
body.layout-dnsimple,
body.layout-docker,
body.layout-dyn,
body.layout-external,
body.layout-github,
body.layout-grafana,
body.layout-fastly,
body.layout-google,
body.layout-heroku,
body.layout-ignition,
body.layout-icinga2,
body.layout-influxdb,
body.layout-kubernetes,
body.layout-librato,
body.layout-logentries,
body.layout-mailgun,
body.layout-mysql,
body.layout-newrelic,
body.layout-nomad,
body.layout-ns1,
body.layout-openstack,
body.layout-opsgenie,
body.layout-packet,
body.layout-pagerduty,
body.layout-postgresql,
body.layout-powerdns,
body.layout-profitbricks,
body.layout-rabbitmq,
body.layout-rancher,
body.layout-random,
body.layout-rundeck,
body.layout-scaleway,
body.layout-spotinst,
body.layout-statuscake,
body.layout-softlayer,
body.layout-template,
body.layout-tls,
body.layout-ultradns,
body.layout-triton,
body.layout-vault,
body.layout-vcd,
body.layout-vsphere,
body.layout-docs,
body.layout-downloads,
body.layout-inner,
body.layout-remotestate,
body.layout-terraform,
body.layout-intro{
	background-color: white;

	>.container{
		[role=main]{
			min-height: 800px;

			>div{
				position: relative;
				z-index: 10;
			}
		}
	}
}

.nav-col {
	padding: 0;
}

.docs-nav-mobile {
	margin: 15px 0 0;
}

.docs-sidebar{
	max-height: 100vh;
	overflow: scroll;
	padding: 80px 1em 30px 0;
	position: relative;
	z-index: 20;

	a{
			color: $purple;
	}

	mark {
		background-color: rgba($purple, .2);
		padding: 0;
	}

	.has-sublist {
		> a::before {
			background: url('/assets/images/chevron-right-square.svg') no-repeat center;
		}

		&.is-expanded {
			> a::before {
				transform: rotate(90deg);
			}

			> .nav {
				display: block;
			}
		}
	}

	.nav-back-link {
		margin-top: -60px;

		a {
			padding: 6px 15px;

			&::before {
				background-image: url('/assets/images/chevron-right-square-purple.svg');
				content: '';
				display: inline-block;
				height: 10px;
				margin-right: .5em;
				opacity: 1;
				transform: rotate(180deg);
				width: 10px;
			}
		}
	}

	.nav-section-header {
		border-bottom: 1px solid #dbdada;
		margin: 40px 0 15px;
		padding: 6px 15px;
	}

	.nav-filter {
		margin: 15px 0;
		position: relative;

		button[type="reset"] {
			background: white;
			border: 1px solid transparent;
			display: none;
			font-size: 20px;
			height: 24px;
			line-height: 24px;
			padding: 0;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;

			&:hover,
			&:focus {
				border-color: #ccc;
				outline: none;
			}

			&:active {
				background-color: #dbdada;
				outline: none;
			}
		}
	}

	.nav-filter-input {
		background: url('/assets/images/search.svg') no-repeat 15px center;
		border: 1px solid #dbdada;
		padding: 10px 40px;
		width: 100%;

		&:focus {
			border-color: $purple;
			outline: none;
		}
	}

	.nav-section-title {
		color: $purple;
		font-family: $font-family-open-sans;
		font-size: 20px;
		margin: 0;
		text-transform: none;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	.docs-sidenav{
		font-size: 16px;

		:last-child{
			border-bottom: none;
		}

		a {
			background-color: transparent;
			color: $light-black;
			overflow: hidden;
			white-space: nowrap;

			&:hover,
			&:focus {
				background-color: rgba(black, .06);
			}

			&::before {
				content: '';
				display: inline-block;
				height: 10px;
				margin-right: .5em;
				opacity: .6;
				transition: .1s;
				width: 10px;
			}
		}

		> li {
			&.active {
				>a{
          color: lighten($purple, 4%);
					font-weight: 600;
				}

				.nav {
          li.active a {
            color: lighten($purple, 4%);
						font-weight: 500;
          }
				}
			}

			> a {
				font-weight: bold;
				-webkit-font-smoothing: subpixel-antialiased;
			}
		}

		.nav {
			display: none;
			margin-bottom: 15px;

			> li{
				margin-left: 20px;

				> a{
          -webkit-font-smoothing: antialiased;
					padding: 6px;
					padding-right: 0;
				}
			}
		}

        .nav-visible {
            display: block;
        }
	}
}

.bs-docs-section{
	@media(max-width: 767px){
		padding: 10px 5px 80px 5px;
	}
	@media(min-width: 768px){
		padding: 10px 20px 80px 20px;
	}

	h1, h2, h3, h4, h5 {
		color: $light-black;
		font-family: $font-family-open-sans;
		text-transform: none;
	}

	.lead{
		margin-bottom: 48px
	}

	.doc-sectional{
		margin-bottom: 48px;
	}

	p, li, .alert {
		font-size: 18px;
    line-height: 1.5;
		margin: 0 0 18px;
    -webkit-font-smoothing: antialiased;
	}

  pre{
    margin: 0 0 18px;
  }

	a{
		color: $purple;
		&:hover{
			text-decoration: underline;
		}
	}

  img{
    max-width: 650px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

	h1{
		margin-top: 72px;
		letter-spacing: -1px;
    word-wrap: break-word;
	}

	h2, h3, h4{
		margin-top: 48px;
	}

	h2 {
		margin-bottom: 16px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eeeeee;
	}

	p {
		color: $light-black;
	}

  #graph {
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
	body.layout-docs,
	body.layout-inner,
	body.layout-intro{
		>.container{
			[role=main]{
				min-height: 0;
				padding: 0;

				&::before {
					border-left: 9999px solid white;
				}
			}
		}
	}

  body.page-sub{
    >.container{
      background-color: white;
    }
  }

  .docs-sidebar{
    margin-top: 0px;
    margin-bottom: 0px;

    .docs-sidenav{
      padding-bottom: 0;

      //all li > a
      li{
        > a{
          @include transition( color 0.5s ease );
        }

        > a:hover,
        > a:focus {
          color: $purple;
          @include transition( color 0.5s ease );
        }
      }


      > li {
        >.nav{
          li{
            a{
              &:hover{
                color: $purple;
              }
            }
          }
        }
      }
    }
  }

  .bs-docs-section{
		padding: 0;

    h1{
      font-size: 32px;
      padding-top: 24px;
      border-top: 1px solid #eeeeee;
			margin-top: 1em;
    }

		h2 {
			font-size: 24px;
		}

		h2, h3, h4{
			margin-top: 32px;
		}

		p, li, .alert {
			font-size: 16px;
		}
  }
}

@media (max-width: 480px) {
	.bs-docs-section{
        img{
            max-width: 450px;
        }

		h1{
			font-size: 28px;
		}
	}
}
