//
// Typography
// --------------------------------------------------


//light
.rls-l{
  font-family: $font-family-lato;
  font-weight: $font-weight-lato-xl;
}

//semibold
.rls-sb{
  font-family: $font-family-lato;
  font-weight: $font-weight-lato-sb;
}

//extrabold
.rls-xb{
  font-family: $font-family-lato;
  font-weight: $font-weight-lato-xb;
}

.os{
  font-family: $font-family-open-sans;
  font-weight: $font-weight-open;
}
