//
// Header
// - Project Specific
// - edits should be made here
// --------------------------------------------------

body.page-sub{
  #header{
    background-color: $purple;
  }
}

#header {
  .navbar-brand {
    .logo{
      width: $project-logo-width;
      height: $project-logo-height;
      font-size: 0px;
      font-family: $font-family-klavika;
      background: image-url('logo-header.svg') 0 32% no-repeat;

      &:hover{
        opacity: .6;
      }
    }

    .by-hashicorp{
      margin-top: 2px;
      &:hover{
        svg{
          .svg-bg-line{
            opacity: .4;
          }
        }
      }
    }
  }

  .buttons{
    margin-top: 2px; //baseline everything

    ul.navbar-nav{
      li {
        svg path{
          fill: $white;
        }
      }
    }
  }

  .main-links,
  .external-links {
    li > a {
      @include project-a-style();
    }
  }
}
