//
// Header
// - Project Specific
// - edits should be made here
// --------------------------------------------------

body.page-sub{
  #header{
    background-color: $purple;

    .navbar-brand {
      .logo{
        &:hover{
          color: $black;
        }
      }
      .by{
        &:hover{
          svg{
            line{
              stroke: $black;
            }
          }
        }
      }
    }
  }
}

#header {
  .navbar-brand {
    .logo{
      font-size: 20px;
      text-transform: uppercase;
      @include lato-light();
      background: image-url('../images/logo-header.png') 0 0 no-repeat;
      @include img-retina("../images/logo-header.png", "../images/logo-header@2x.png", $project-logo-width, $project-logo-height);
      background-position: 0 45%;

      &:hover{
        color: $purple;
      }
    }

    .by{
      color: $black;
      &:hover{
        svg{
          line{
            stroke: $purple;
          }
        }
      }
    }
  }

  .buttons{
    margin-top: 2px; //baseline everything

    ul.navbar-nav{
      li {
        // &:hover{
        //     svg path{
        //         fill: $purple;
        //     }
        // }

        svg path{
          fill: $white;
        }
      }
    }
  }

  .main-links,
  .external-links {
    li > a {
      @include project-a-style();
    }
  }
}

@media (max-width: 414px) {
  #header {
    .navbar-brand {
      .logo{
        padding-left: 37px;
        font-size: 18px;
        @include img-retina("../images/logo-header.png", "../images/logo-header@2x.png", $project-logo-width * .75, $project-logo-height * .75);
        //background-position: 0 45%;
      }
    }
  }
}


@media (max-width: 320px) {
  #header {
    .navbar-brand {
      .logo{
        font-size: 0 !important; //hide terraform text
      }
    }
  }
}
