//
// Header
// - Project Specific
// - edits should be made here
// --------------------------------------------------

#header {
    .navbar-brand {
        .logo{
            color: $black;
            font-size: 28px;
            background: image-url('../images/logo-header.png') 0 0 no-repeat;
            @include img-retina("../images/logo-header.png", "../images/logo-header@2x.png", $project-logo-size, $project-logo-size);
            background-position: 0 center;

            &:hover{
				color: $orange;
			}
        }

        .by{
            color: $black;
            &:hover{
                svg{
                    line{
                        stroke: $purple;
                    }
                }
            }
        }
    }

    .buttons{
        margin-top: 2px; //baseline everything

        ul.navbar-nav{
            li {
                &:hover{
                    svg path{
                        fill: $purple;
                    }
                }

                svg path{
                    fill: $white;
                }
            }
        }
    }

    .main-links,
    .external-links {
        li > a {
            @include project-a-style();
            font-weight: 400;
        }
    }
}
