#page-home {
  // Override the main header
  #header {
    background: $home-header-background-color;

    .navbar-toggle {
      .icon-bar {
        border: 1px solid $home-header-link-color;
      }
    }

    .navbar-brand {
      a {
        svg.logo {
          @extend svg.logo.color;
        }
      }
    }

    ul.nav {
      li {
        a {
          color: $home-header-link-color;

          &:hover, &:focus, &:active {
            background-color: transparent;
            color: $home-header-link-color-hover;

            svg {
              fill: $home-header-link-color-hover;
            }
          }

          svg {
            fill: $home-header-link-color;
          }
        }
      }
    }
  }

  header {
    .hero {
      margin: 140px auto 160px auto;
      text-align: center;

      .button {
        margin: 5px;

        @media (max-width: 768px) {
          display: block;
          margin-top: 10px;
          text-align: center;
        }
      }

      svg {
        max-width: 90%;
      }
    }
  }

  section {
    background: $white;
    padding: 100px 0;
  }

  section.marketing {
    h2 {
      font-family: $font-family-klavika;
      font-size: 36px;
      font-weight: $font-weight-bold;
      line-height: 1.25;
      letter-spacing: -0.02em;
      margin: 20px 0 10px 0;
      padding: 0;
      text-transform: uppercase;
    }

    h3 {
      color: $black;
      font-size: 20px;
      font-weight: $font-weight-bold;
      line-height: 1.2;
      margin: 50px 0 15px 0;
      text-transform: uppercase;
    }

    p {
      font-family: $font-family-open-sans;
      font-size: 16px;
      letter-spacing: 0.01em;
      line-height: 1.5;
      margin: 0 0 10px;
    }

    p.lead {
      font-size: 20px;
      margin: 15px 0 30px 0;
    }

    span.callout {
      background: $black;
      color: $white;
      display: inline-block;
      font-family: $font-family-klavika;
      font-size: 18px;
      font-weight: $font-weight-bold;
      line-height: 1;
      margin: 0;
      padding: 5px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &.purple {
      background: $terraform-purple;

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }

      span.callout {
        background: $white;
        color: $terraform-purple;
      }

      .button {
        border: none;
      }
    }

    &.black {
      background: $black;

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }

      span.callout {
        background: $white;
        color: $black;
      }

      .button {
        border: none;
      }
    }

    &#features {
      .feature-card {
        border: 1px solid $gray-darker;
        color: $gray-darker;
        display: block;
        height: 200px;
        font-weight: $font-weight-bold;
        padding: 20px;
        margin-bottom: 15px;
        text-transform: uppercase;
        transition: all 0.1s ease-in-out;

        p {
          line-height: 1.25em;
        }

        span {
          color: $terraform-purple;
          display: block;
          font-weight: $font-weight-bold;
          margin-bottom: 10px;
        }

        svg {
          display: block;
          margin-top: 20px;
          max-width: 100%;

          path {
            transition: all 0.1s ease-in-out;
            fill: $gray-dark;
          }
        }

        &:hover, &:active, &:focus {
          border: 1px solid $terraform-purple;
          color: $terraform-purple;
          text-decoration: none;

          svg {
            path {
              fill: $terraform-purple;
              transition: all 0.1s ease-in-out;
            }
          }
        }
      }
    }

    &#plan {
      h3 {
        color: $white;
      }
    }

    &#news {
      img, iframe {
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
        margin: 0 0 20px 0;
        max-width: 100%;
      }

      iframe {
        @media (min-width: $screen-sm) and (max-width: $screen-md) {
          width: 100vw;
          height: 56.25vw;
        }
      }

      h2 {
        margin-bottom: 50px;
      }

      h3 {
        color: $white;
        margin-top: 0;
        text-transform: none;
      }

      div.latest-item {
        + .latest-item {
          border-top: 1px solid rgba(white, .5);
          margin-top: 20px;
          padding-top: 20px;
        }

        @media (max-width: $screen-sm-max) {
          &:last-child {
            border-bottom: 1px solid rgba(white, .5);
            margin-bottom: 20px;
            padding-bottom: 20px;
          }
        }

        p {
          padding: 0 0 10px 0;
        }

        .button {
          &:hover {
            background: $white;
            color: $terraform-purple;
          }
        }
      }
    }

    &#examples {
      background: #EDEDED;

      h1, h2, h3, h4, h5, h6, p {
        color: $black;
      }
    }

    &#enterprise {
      background-image: image-url('enterprise-callout-bg.svg');
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: 80%;
    }
  }

  .terminal {
    border: 1px solid $white;
    background-color: $black;
    box-sizing: border-box;
    color: $white;
    font-family: $font-family-monospace;
    font-size: 16px;
    line-height: 1.8;
    margin: 20px auto;
    padding: 10px 20px 20px 20px;

    .terminal-content {
      margin-top: 15px;
      overflow-x: scroll;
      width: 100%;
      white-space: nowrap;

      span {
        display: block;
        white-space: pre;

        span {
          display: inline;
        }

        &.text-pink {
          color: lighten($consul-pink, 20%);
        }
      }
    }

    span.circle {
      &:before {
        content: '\25CF';
        color: $white;
        font-size: 20px;
        line-height: 100%;
        height: 100%;
      }
    }

    span.txt-spe {
      color: #7190EA;
    }

    span.txt-str {
      color: #64E86C;
    }

    span.txt-int {
      color: #E89264;
    }

    span.txt-var {
      color: #9A56f9;
    }
  }
}
