//
// Utility classes
// --------------------------------------------------

@mixin anti-alias() {
	text-rendering: optimizeLegibility;
 	 -webkit-font-smoothing: antialiased;
}

@mixin lato-light() {
  font-family: $font-family-lato;
  font-weight: 300;
}

@mixin skewY($skew) {
	-webkit-transform: skewY($skew);
  -moz-transform: skewY($skew);
  -ms-transform: skewY($skew);
  -o-transform: skewY($skew);
  transform: skewY($skew);
}
