//
// Utility classes
// --------------------------------------------------

@mixin anti-alias() {
	text-rendering: optimizeLegibility;
 	 -webkit-font-smoothing: antialiased;
}

@mixin skewY($skew) {
	-webkit-transform: skewY($skew);
  -moz-transform: skewY($skew);
  -ms-transform: skewY($skew);
  -o-transform: skewY($skew);
  transform: skewY($skew);
}

.sub-black {
	color: #545454;
}

.lower-opacity {
	opacity: .7;
}
