@import 'bootstrap-sprockets';
@import 'bootstrap';

// Core variables and mixins
@import '_variables';
@import '_mixins';

// Utility classes
@import '_utilities';

// Core CSS
@import '_fonts';

//Global Site
@import '_global';

// Components
@import '_header';
@import '_footer';
@import '_jumbotron';
@import '_buttons';

// Pages
@import '_home';
@import '_community';
@import '_docs';
@import '_downloads';
