@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url("//fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600");

// Core variables and mixins
@import '_variables';

// Utility
@import '_utilities';

// Core CSS
@import '_fonts';

//Global Site
@import '_global';

// Hashicorp Shared Project Styles
@import 'hashicorp-shared/_project-utility';
@import 'hashicorp-shared/_hashicorp-utility';
@import 'hashicorp-shared/_hashicorp-header';
@import 'hashicorp-shared/_hashicorp-sidebar';

// Components
@import '_header';
@import '_footer';
@import '_jumbotron';
@import '_buttons';
@import '_sidebar';

// Pages
@import '_home';
@import '_community';
@import '_docs';
@import '_downloads';
