---
page_title: "Community"
---

<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="bs-docs-section">
			<h1>Community</h1>

			<p>
			Terraform is a new project with a growing community. Despite this,
			there are active, dedicated users willing to help you through various
			mediums.
			</p>
			<p>
			<strong>IRC:</strong> <code>#terraform</code> on Freenode
			</p>
			<p>
			<strong>Mailing list:</strong>
			<a href="https://groups.google.com/group/terraform-tool">Terraform Google Group</a>
			</p>
			<p>
			<strong>Bug Tracker:</strong>
			<a href="https://github.com/hashicorp/terraform/issues">Issue tracker
				on GitHub</a>. Please only use this for reporting bugs. Do not ask
			for general help here. Use IRC or the mailing list for that.

			<h1>People</h1>
			<p>
			The following people are some of the faces behind Terraform. They each
			contribute to Terraform in some core way. Over time, faces may appear and
			disappear from this list as contributors come and go.
			</p>
			<div class="people">
				<div class="person">
					<img class="pull-left" src="http://www.gravatar.com/avatar/11ba9630c9136eef9a70d26473d355d5.png?s=125">
					<div class="bio">
						<h3>Armon Dadgar (<a href="https://github.com/armon">@armon</a>)</h3>
						<p>
						Armon Dadgar is the creator of Terraform. He researched and developed
						most of the internals of how Terraform works, including the
						gossip layer, leader election, etc. Armon is also the creator of
						<a href="https://github.com/hashicorp/serf">Serf</a>,
						<a href="https://github.com/armon/statsite">Statsite</a>, and
						<a href="https://github.com/armon/bloomd">Bloomd</a>.
					</div>
				</div>

				<div class="person">
					<img class="pull-left" src="http://www.gravatar.com/avatar/54079122b67de9677c1f93933ce8b63a.png?s=125">
					<div class="bio">
						<h3>Mitchell Hashimoto (<a href="https://github.com/mitchellh">@mitchellh</a>)</h3>
						<p>
						Mitchell Hashimoto is a co-creator of Terraform. He primarily took
						a management role in the creation of Terraform, guiding product
						and user experience decisions on top of Armon's technical decisions.
						Mitchell Hashimoto is also the creator of
						<a href="http://www.vagrantup.com">Vagrant</a>,
						<a href="http://www.packer.io">Packer</a>, and
						<a href="http://www.serfdom.io">Serf</a>.
						</p>
					</div>
				</div>

				<div class="person">
					<img class="pull-left" src="http://www.gravatar.com/avatar/2acc31dd6370a54b18f6755cd0710ce6.png?s=125">
					<div class="bio">
						<h3>Jack Pearkes (<a href="https://github.com/pearkes">@pearkes</a>)</h3>
						<p>
						Jack Pearkes created and maintains the Terraform web UI.
						He is also a core committer to
						<a href="http://www.packer.io">Packer</a> and maintains
						many successful
						<a href="https://github.com/pearkes">open source projects</a>
						while also being an employee of
						<a href="http://www.hashicorp.com">HashiCorp</a>.
						</p>
					</div>
				</div>
				
				<div class="person">
					<img class="pull-left" src="//www.gravatar.com/avatar/1e87e6016a7c4f4ecbd2517d84058467.png?s=125">
					<div class="bio">
				    		<h3>William Tisäter (<a href="https://github.com/tiwilliam">@tiwilliam</a>)</h3>
				    		<p>William Tisäter is a Terraform core committer. He is also maintainer of <a href="https://pypi.python.org/pypi/pygeoip">pygeoip</a> and build things daily at <a href="https://tictail.com">Tictail</a>.</p>
				  	</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
