---
layout: "inner"
page_title: "Community"
description: |-
  Terraform is a new project with a growing community. Despite this, there are active, dedicated users willing to help you through various mediums.
---

<h1>Community</h1>

<p>
  Terraform is a new project with a growing community. Despite this,
  there are active, dedicated users willing to help you through various
  mediums.
</p>
<p>
  <strong>Stack Exchange:</strong> Terraform questions often get asked and
  answered on
  <a href="https://serverfault.com/">Server Fault</a> and
  <a href="https://stackoverflow.com/">Stack Overflow</a>. Use the tag
  "terraform" to help your question be found by Terraform experts, and please
  be respectful of the "How to Ask" guidelines in each community.
</p>
<p>
  <strong>Gitter:</strong> <a href="https://gitter.im/hashicorp-terraform/Lobby">Terraform Gitter Room</a>
</p>
<p>
  <strong>IRC:</strong> Use the <a href="https://irc.gitter.im">Gitter IRC bridge</a>
</p>
<p>
  <strong>Mailing list:</strong> <a href="https://groups.google.com/group/terraform-tool">Terraform Google Group</a>
</p>
<p>
  <strong>Bug Tracker:</strong> <a href="https://github.com/hashicorp/terraform/issues">Issue tracker on GitHub</a>. Please only use this for reporting bugs. Do not ask for general help here; use a Stack Exchange community, Gitter chat, or the mailing list for that.
</p>
<p>
  <strong>Training:</strong> Paid <a href="https://www.hashicorp.com/training.html">HashiCorp training courses</a> are also available in a city near you. Private training courses are also available.
</p>

<h1>People</h1>
<p>
  The following people are some of the faces behind Terraform. They each
  contribute to Terraform in some core way. Over time, faces may appear and
  disappear from this list as contributors come and go.
</p>
<div class="people">
  <div class="person">
    <img class="pull-left" src="https://www.gravatar.com/avatar/54079122b67de9677c1f93933ce8b63a.png?s=125">
    <div class="bio">
      <h3>Mitchell Hashimoto (<a href="https://github.com/mitchellh">@mitchellh</a>)</h3>
      <p>
      Mitchell Hashimoto is the creator of Terraform and works on all
      layers of Terraform from the core to providers. In addition to Terraform,
      Mitchell is the creator of
      <a href="https://www.vagrantup.com">Vagrant</a>,
      <a href="https://www.packer.io">Packer</a>, and
      <a href="https://www.consul.io">Consul</a>.
      </p>
    </div>
  </div>

  <div class="person">
    <img class="pull-left" src="https://www.gravatar.com/avatar/2fafdc19b0f7248e9a1e1e07d5a8b678.png?s=125">
    <div class="bio">
      <h3>Paul Hinze (<a href="https://github.com/phinze">@phinze</a>)</h3>
      <p>
      Paul Hinze is the Project Lead of Terraform. He helps organize the team
      of HashiCorp employees and community members that work on Terraform
      day-to-day. He works on Terraform's core and providers.
      </p>
    </div>
  </div>

  <div class="person">
    <img class="pull-left" src="https://www.gravatar.com/avatar/dfb3948650131e4f0385c3328187cfca.png?s=125">
    <div class="bio">
      <h3>Clint Shryock (<a href="https://github.com/catsby">@catsby</a>)</h3>
      <p>
      Clint Shryock is a HashiCorp Engineer working on Terraform. He is the
      primary maintainer of the AWS provider, and works across all providers.
      Clint is also the primary author of the Fastly provider.
      </p>
    </div>
  </div>

  <div class="person">
    <img class="pull-left" src="https://www.gravatar.com/avatar/7a508a1329768332def9abdec9efa6fc?s=125">
    <div class="bio">
      <h3>Jake Champlin (<a href="https://github.com/grubernaut">@grubernaut</a>)</h3>
      <p>
      Jake Champlin is a HashiCorp Engineer working on Terraform. His primary
      focus will be the Terraform Provider Ecosystem.
      </p>
    </div>
  </div>

  <div class="person">
    <img class="pull-left" src="https://www.gravatar.com/avatar/66fc33d259df37b17198d0d76e0ac169?s=125">
    <div class="bio">
      <h3>Radek Simko (<a href="https://github.com/radeksimko">@radeksimko</a>)</h3>
      <p>
      Radek Simko is a HashiCorp Engineer working on Terraform. His focus
      is the provider land (AWS mainly), but you can find him working
      on some core features from time to time as well.
      Radek is also the primary author of the Kubernetes provider.
      </p>
    </div>
  </div>

  <div class="person">
    <img class="pull-left" src="https://en.gravatar.com/userimage/69428860/3cff3bc89fd8344b831ab955d49d754a.jpg?size=125">
    <div class="bio">
      <h3>Matthew Frahry (<a href="https://github.com/mbfrahry">@mbfrahry</a>)</h3>
      <p>
      Matthew Frahry is a HashiCorp Engineer working on Terraform with an emphasis on
      the Terraform Provider Ecosystem.
      </p>
    </div>
  </div>

  <div class="person">
    <img class="pull-left" src="https://avatars2.githubusercontent.com/u/666005?v=3&s=125">
    <div class="bio">
      <h3>Tom Harvey (<a href="https://github.com/tombuildsstuff">@tombuildsstuff</a>)</h3>
      <p>
      Tom Harvey is a HashiCorp Engineer working on Terraform with an emphasis on
      the Terraform Provider Ecosystem.
      </p>
    </div>
  </div>

  <div class="person">
    <img class="pull-left" src="https://avatars0.githubusercontent.com/u/20180?v=3&amp;s=125">
    <div class="bio">
      <h3>Martin Atkins (<a href="https://github.com/apparentlymart">@apparentlymart</a>)</h3>
      <p>
      Martin Atkins is a community contributor turned HashiCorp Engineer working
      on Terraform with a focus on the core.
      </p>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
