---
layout: "inner"
page_title: "Community"
description: |-
  Terraform is a new project with a growing community. Despite this, there are active, dedicated users willing to help you through various mediums.
---

<h1>Community</h1>

<p>
Terraform is a new project with a growing community. Despite this,
there are active, dedicated users willing to help you through various
mediums.
</p>
<p>
<strong>IRC:</strong> <code>#terraform-tool</code> on Freenode
</p>
<p>
<strong>Mailing list:</strong>
<a href="https://groups.google.com/group/terraform-tool">Terraform Google Group</a>
</p>
<p>
<strong>Bug Tracker:</strong>
<a href="https://github.com/hashicorp/terraform/issues">Issue tracker
	on GitHub</a>. Please only use this for reporting bugs. Do not ask
for general help here. Use IRC or the mailing list for that.

<h1>People</h1>
<p>
The following people are some of the faces behind Terraform. They each
contribute to Terraform in some core way. Over time, faces may appear and
disappear from this list as contributors come and go.
</p>
<div class="people">
	<div class="person">
		<img class="pull-left" src="http://www.gravatar.com/avatar/54079122b67de9677c1f93933ce8b63a.png?s=125">
		<div class="bio">
			<h3>Mitchell Hashimoto (<a href="https://github.com/mitchellh">@mitchellh</a>)</h3>
			<p>
			Mitchell Hashimoto is the creator of Terraform and works on all
			layers of Terraform from the core to providers. In addition to Terraform,
			Mitchell is the creator of
			<a href="https://www.vagrantup.com">Vagrant</a>,
			<a href="https://www.packer.io">Packer</a>, and
			<a href="https://www.consul.io">Consul</a>.
			</p>
		</div>
	</div>

	<div class="person">
		<img class="pull-left" src="http://www.gravatar.com/avatar/11ba9630c9136eef9a70d26473d355d5.png?s=125">
		<div class="bio">
			<h3>Armon Dadgar (<a href="https://github.com/armon">@armon</a>)</h3>
			<p>
			Armon Dadgar is a creator of Terraform. He created valuable sections
			of the core and helps maintain providers as well. Armon is also the
			creator of
			<a href="https://www.consul.io">Consul</a>,
			<a href="https://www.serfdom.io">Serf</a>,
			<a href="https://github.com/armon/statsite">Statsite</a>, and
            <a href="https://github.com/armon/bloomd">Bloomd</a>.
            </p>
		</div>
    </div>

	<div class="person">
		<img class="pull-left" src="http://www.gravatar.com/avatar/2acc31dd6370a54b18f6755cd0710ce6.png?s=125">
		<div class="bio">
			<h3>Jack Pearkes (<a href="https://github.com/pearkes">@pearkes</a>)</h3>
			<p>
			Jack Pearkes is a creator of Terraform. He created and maintains
			most of the providers and documentation.
			He is also a core committer to
			<a href="https://www.packer.io">Packer</a> and
			<a href="https://www.consul.io">Consul</a>
			while also being an employee of
			<a href="https://www.hashicorp.com">HashiCorp</a>.
			</p>
		</div>
    </div>

    <div class="clearfix"></div>
</div>
