---
layout: "downloads"
page_title: "Download Terraform Web UI"
sidebar_current: "downloads-ui"
---

<h1>Download Terraform Web UI</h1>

<section class="downloads">
	<div class="description row">
		<div class="col-md-12">
			<p>
			From this page you can download the web UI for Terraform. This is
			distributed as a separate ZIP package. You can view a
			<a href="http://demo.terraform.io">demo of the web UI here</a> or
			you can
			<a href="/intro/getting-started/ui.html">read the docs on how to set up the UI here</a>.
			</p>
			<p class="center">
			<a class="btn btn-default btn-lg" href="<%= ui_download_url %>">
			Download Terraform Web UI <%= latest_version %></a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 poweredby">
			<a href='http://www.bintray.com'>
				<img src='http://www.bintray.com/docs/images/poweredByBintray_ColorTransparent.png'>
			</a>
		</div>
	</div>
</section>
