<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbotron-mask">
	<div id="jumbotron">
		<div class="jumbotron-content" id="jumbotron-content">
			<h2 class="tag-line" id="tag-line" style="visibility: hidden;">Build, Combine, and Launch Infrastructure</h2>
		</div>
	</div>
</div>

<div class="feature skew-item" id="feature-auto">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12">
				<h2 class="feature-t">Infrastructure as code</h2>
				<p>Terraform provides a common configuration to launch infrastructure &mdash;
				from physical and virtual servers to email and DNS providers. Once launched,
				Terraform safely and efficiently changes infrastructure as the configuration
				is evolved.</p>
				<p>Simple file based configuration gives you a single view
					of your entire infrastructure.</p>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<h3 class="terminal-text">$ terraform apply</h3>
			</div>
		</div>
	</div> <!-- /container -->
	<div class="feature-skew" id="feature-auto-bg"></div>
</div> <!-- /feature -->

<div class="feature skew-item" id="feature-iterate">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12">
				<div class="it-icon f-icon clearfix">
					<div class="t-block"></div>
					<div class="t-block t2"></div>
					<div class="t-block t3"></div>
					<div class="t-block t4"></div>
				</div>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12">
				<h2 class="feature-t">Combine Multiple Providers</h2>
				<p>Terraform allows you to effortlessly combine high-level system
				providers with your own or with each other. Launch a server from
				one cloud provider, add a DNS entry with its IP with a different
				provider. Built-in dependency resolution means
					things happen in the right order.</p>
			</div>
		</div>
	</div> <!-- /container -->
	<div class="feature-skew" id="feature-iterate-bg"></div>
</div> <!-- /feature -->

<div class="feature skew-item" id="feature-clone">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12">
				<h2 class="feature-t">Evolve your Infrastructure</h2>
				<p>Your configuration and state can be stored in version control, shared
					and distributed among your team. Updates, scaling and modifications
					will be planned first, so you can iterate with confidence.</p>
			</div>
			<div class="col-md-push-1 col-lg-6 col-md-6 col-sm-12">
				<div class="clone-icon f-icon">
					<div class="c-group clearfix">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>

					<div class="c-group cg2">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>

					<div class="c-group cg3 clearfix">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
	<div class="feature-skew" id="feature-clone-bg"></div>
</div> <!-- /feature -->

<div class="skew-item" id="demos">
	<div class="container">
		<div class="terminals row">

			<div class="col-xs-12 col-lg-12 explantion">
				<h2>Layering Resources</h2>
                <p>
                    Use attributes from other resources to create
                    a layered infrastructure. Terraform handles ordering
                    resource creation automatically.
				</p>
			</div>

			<div class="terminal-item col-xs-12 col-lg-12">
					<div class="terminal">
						<header>
							<h4>Example Configuration</h4>
						</header>
						<div class="terminal-window">
							<div class="">
								<div class="display">
								<p>resource <span class="txt-spe">"digitalocean_droplet"</span> <span class="txt-str">"web"</span> {</p>
								<p>    name = <span class="txt-str">"tf-web"</span></p>
								<p>    size = <span class="txt-str">"512mb"</span></p>
								<p>    image = <span class="txt-str">"centos-5-8-x32"</span></p>
								<p>    region = <span class="txt-str">"sfo1"</span></p>
								<p>}</p>
								<p> </p>
								<p>resource <span class="txt-spe">"dnsimple_record"</span> <span class="txt-str">"hello"</span> {</p>
								<p>    domain = <span class="txt-str">"example.com"</span></p>
								<p>    name = <span class="txt-str">"test"</span></p>
								<p>    value = <span class="txt-str">"<span class="txt-var">${digitalocean_droplet.web.ipv4_address}</span>"</span></p>
								<p>    type = <span class="txt-str">"A"</span></p>
								<p>}</p>
								</div>
							</div>
						</div>
					</div>
			</div> <!-- /.terminal-item -->

			<div class="col-xs-12 col-lg-12 explantion">
				<h2>Fast, Simplified Interaction</h2>
				<p>
                    Simple and intuitive configuration makes even the most complicated services approachable:
                    no more web consoles, loading bars, or confusing CLI clients.
				</p>
			</div>

			<div class="terminal-item col-xs-12 col-lg-12">
					<div class="terminal">
						<header>
							<h4>Example Configuration</h4>
						</header>
						<div class="terminal-window">
							<div class="">
								<div class="display">
								<p>resource <span class="txt-spe">"aws_elb"</span> <span class="txt-str">"frontend"</span> {</p>
								<p>    name = <span class="txt-str">"frontend-load-balancer"</span></p>
								<p>    listener {</p>
								<p>        instance_port = <span class="txt-int">8000</span></p>
								<p>        instance_protocol = <span class="txt-str">"http"</span></p>
								<p>        lb_port = <span class="txt-int">80</span></p>
								<p>        lb_protocol = <span class="txt-str">"http"</span></p>
								<p>    }</p>
								<p> </p>
								<p>    instances = [<span class="txt-str">"<span class="txt-var">${aws_instance.app.*.id}</span>"</span>]</p>
								<p>}</p>
								<p> </p>
								<p>resource <span class="txt-spe">"aws_instance"</span> <span class="txt-str">"app"</span> {</p>
								<p>    count = <span class="txt-int">5</span></p>
								<p> </p>
								<p>    ami = <span class="txt-str">"ami-408c7f28"</span></p>
								<p>    instance_type = <span class="txt-str">"t1.micro"</span></p>
								<p>}</p>
								</div>
							</div>
						</div>
					</div>
			</div> <!-- /.terminal-item -->
		</div>
	</div>
	<div class="feature-skew" id="demo-bg"></div>
</div><!-- /#demos -->

<div class="skew-item" id="cta">
	<div class="container">
		<div class="row">
			<div class="intro">
				<div class="left col-xs-12 col-sm-4 col-sm-offset-1 col-md-offset-2 col-md-4">
					<p>The intro contains a walkthrough guide, introductory literature
						and a range of examples to experiment with Terraform.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 right">
					<a class="outline-btn" href="/intro/index.html">Try Terraform &#187;</a>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-skew" id="cta-bg"></div>
</div>
