<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbotron-mask">
	<div id="jumbotron">
			<div class="container">
				<div class="col-lg-6 col-md-6">
					<h2 class="rls-l">
					Service discovery and configuration made easy.
					Distributed, highly available, and
					datacenter-aware.
					</h2>
				</div>
				<div class="jumbo-logo-wrap col-lg-offset-1 col-lg-5 col-md-6 hidden-xs hidden-sm">
					<div class="jumbo-logo"></div>
				</div>
				<!-- <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
			</div>
			<div class="jumbotron-dots"></div>
	</div>
</div>

<div class="feature" id="feature-auto">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12">
				<h2 class="feature-t">Automatically build infrastructure from code</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum nibh vitae quam dapibus, nec sodales dolor sodales. Class aptent taciti sociosqu ad litora.</p>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<h3 class="terminal-text">$ terraform plan</h3>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /feature -->

<div class="feature" id="feature-iterate">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12">
				<div class="it-icon f-icon clearfix">
					<div class="t-block"></div>
					<div class="t-block t2"></div>
					<div class="t-block t3"></div>
					<div class="t-block t4"></div>
				</div>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12">
				<h2 class="feature-t">Iterate on infrastructure safely</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum nibh vitae quam dapibus, nec sodales dolor sodales. Class aptent taciti sociosqu ad litora.</p>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /feature -->

<div class="feature" id="feature-clone">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12">
				<h2 class="feature-t">Clone complete environments easily</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum nibh vitae quam dapibus, nec sodales dolor sodales. Class aptent taciti sociosqu ad litora.</p>
			</div>
			<div class="col-md-push-1 col-lg-6 col-md-6 col-sm-12">
				<div class="clone-icon f-icon">
					<div class="c-group clearfix">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>

					<div class="c-group cg2">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>

					<div class="c-group cg3 clearfix">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /feature -->

<div id="demos">
	<div class="container">
		<div class="terminals row">

			<div class="col-xs-12 col-lg-12 explantion">
				<h2>DNS Query Interface</h2>
				<p>
				Look up services using Terraform's built-in DNS server. Support
				existing infrastructure without any code change.
				</p>
			</div>

			<div class="terminal-item col-xs-12 col-lg-12">
					<div class="terminal">
						<header>
							<h4>Example Configuration</h4>
						</header>
						<div class="terminal-window">
							<div class="">
								<div class="display">
								<p>resource "digitalocean_droplet" "web" {</p>
								<p>    name = "baz"</p>
								<p>    size = "512mb"</p>
								<p>    image = "centos-5-8-x32"</p>
								<p>    region = "sfo1"</p>
								<p>}</p>
								<p> </p>
								<p>resource "dnsimple_record" "hello" {</p>
								<p>    domain = "jack.ly"</p>
								<p>    name = "hello"</p>
								<p>    value = "${digitalocean_droplet.foobar.ipv4_address}"</p>
								<p>    type = "A"</p>
								<p>}</p>
								</div>
							</div>
						</div>
					</div>
			</div> <!-- /.terminal-item -->

			<div class="col-xs-12 col-lg-12 explantion">
				<h2>Key Value Storage</h2>
				<p>
                Terraform provides a hierarchical key/value store with a simple HTTP API.
                Managing configuration has never been simpler.
				</p>
			</div>

			<div class="terminal-item col-xs-12 col-lg-12">
					<div class="terminal">
						<header>
							<h4>Example Configuration</h4>
						</header>
						<div class="terminal-window">
							<div class="">
								<div class="display">
								<p>resource "digitalocean_droplet" "web" {</p>
								<p>    name = "baz"</p>
								<p>    size = "512mb"</p>
								<p>    image = "centos-5-8-x32"</p>
								<p>    region = "sfo1"</p>
								<p>}</p>
								<p> </p>
								<p>resource "dnsimple_record" "hello" {</p>
								<p>    domain = "jack.ly"</p>
								<p>    name = "hello"</p>
								<p>    value = "${digitalocean_droplet.foobar.ipv4_address}"</p>
								<p>    type = "A"</p>
								<p>}</p>
								</div>
							</div>
						</div>
					</div>
			</div> <!-- /.terminal-item -->
		</div>
	</div>
</div><!-- /#demos -->

<div id="cta">
	<div class="container">
		<div class="row">
			<div class="intro">
				<div class="left col-xs-12 col-sm-4 col-sm-offset-1 col-md-offset-2 col-md-4">
					<p>The intro and getting started guide contain
						a simple and approachable walkthrough for running Terraform locally.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 right">
					<a class="outline-btn" href="/intro/index.html">Read the intro &#187;</a>
				</div>
			</div>
		</div>
	</div>
</div>
