<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbotron-mask">
	<div id="jumbotron">
		<div class="galaxy-image" id="image"></div>
		<div class="logo-container">
			<div class="animated-logo">
				<div class="white-block block-one"></div>
				<div class="white-block block-two"></div>
				<div class="white-block block-three"></div>
				<div class="white-block block-four"></div>
			</div>
		</div>
	</div>
</div>

<div class="feature" id="feature-auto">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12">
				<h2 class="feature-t">Infrastructure as code</h2>
				<p>Terraform provides a common configuration to launch infrastructure &mdash;
				from physical and virtual servers to email and DNS providers. Once launched,
				Terraform safely and efficiently changes infrastructure as the configuration
				is evolved.</p>
				<p>Simple file based configuration gives you a single view
					of your entire infrastructure.</p>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<h3 class="terminal-text">$ terraform apply</h3>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /feature -->

<div class="feature" id="feature-iterate">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12">
				<div class="it-icon f-icon clearfix">
					<div class="t-block"></div>
					<div class="t-block t2"></div>
					<div class="t-block t3"></div>
					<div class="t-block t4"></div>
				</div>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12">
				<h2 class="feature-t">Combine Multiple Providers</h2>
				<p>Terraform allows you to effortlessly combine high-level system
				providers with your own or with each other. Launch a server from
				one cloud provider, add a DNS entry with it's IP with a different
				provider. Built-in dependency resolution means
					things happen in the right order.</p>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /feature -->

<div class="feature" id="feature-clone">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12">
				<h2 class="feature-t">Evolve your Infrastructure</h2>
				<p>Your configuration and state can be stored in version control, shared
					and distributed among your team. Updates, scaling and modifications
					will be planned first, so you can iterate with confidence.</p>
			</div>
			<div class="col-md-push-1 col-lg-6 col-md-6 col-sm-12">
				<div class="clone-icon f-icon">
					<div class="c-group clearfix">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>

					<div class="c-group cg2">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>

					<div class="c-group cg3 clearfix">
						<div class="c-col c1">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c2">
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
						<div class="c-col c3">
							<div class="c-block"></div>
							<div class="c-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
</div> <!-- /feature -->

<div id="demos">
	<div class="container">
		<div class="terminals row">

			<div class="col-xs-12 col-lg-12 explantion">
				<h2>Layering Resources</h2>
                <p>
                    Use attributes from other resources to create
                    a layered infrastructure. Terraform handles ordering
                    resource creation automatically.
				</p>
			</div>

			<div class="terminal-item col-xs-12 col-lg-12">
					<div class="terminal">
						<header>
							<h4>Example Configuration</h4>
						</header>
						<div class="terminal-window">
							<div class="">
								<div class="display">
								<p>resource "digitalocean_droplet" "web" {</p>
								<p>    name = "baz"</p>
								<p>    size = "512mb"</p>
								<p>    image = "centos-5-8-x32"</p>
								<p>    region = "sfo1"</p>
								<p>}</p>
								<p> </p>
								<p>resource "dnsimple_record" "hello" {</p>
								<p>    domain = "jack.ly"</p>
								<p>    name = "hello"</p>
								<p>    value = "<span class="txt-r">${digitalocean_droplet.foobar.ipv4_address}</span>"</p>
								<p>    type = "A"</p>
								<p>}</p>
								</div>
							</div>
						</div>
					</div>
			</div> <!-- /.terminal-item -->

			<div class="col-xs-12 col-lg-12 explantion">
				<h2>Fast, Simplified Interaction</h2>
				<p>
                    Simple and intuitive configuration makes even the most complicated services approachable:
                    no more web consoles, loading bars, or confusing CLI clients.
				</p>
			</div>

			<div class="terminal-item col-xs-12 col-lg-12">
					<div class="terminal">
						<header>
							<h4>Example Configuration</h4>
						</header>
						<div class="terminal-window">
							<div class="">
								<div class="display">
								<p>resource "aws_elb" "frontend" {</p>
								<p>    name = "frontend-load-balancer"</p>
								<p>    listener {</p>
								<p>        instance_port = 8000</p>
								<p>        instance_protocol = "http"</p>
								<p>        lb_port = 80</p>
								<p>        lb_protocol = "http"</p>
								<p>    }</p>
								<p> </p>
								<p>    instances = ["${aws_instance.app.*.id}"]</p>
								<p>}</p>
								<p> </p>
								<p>resource "aws_instance" "app" {</p>
								<p>    count = 5</p>
								<p> </p>
								<p>    ami = "ami-043a5034"</p>
								<p>    instance_type = "m1.small"</p>
								<p>}</p>
								</div>
							</div>
						</div>
					</div>
			</div> <!-- /.terminal-item -->
		</div>
	</div>
</div><!-- /#demos -->

<div id="cta">
	<div class="container">
		<div class="row">
			<div class="intro">
				<div class="left col-xs-12 col-sm-4 col-sm-offset-1 col-md-offset-2 col-md-4">
					<p>The intro contains a walkthrough guide, introductory literature
						and a range of examples to experiment with Terraform.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 right">
					<a class="outline-btn" href="/intro/index.html">Try Terraform &#187;</a>
				</div>
			</div>
		</div>
	</div>
</div>
