<div id="announcement-bnr" class="-absolute">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
          Announcing
          <a class="enterprise-logo" href="https://www.hashicorp.com/terraform.html?utm_source=oss&utm_medium=top-banner&utm_campaign=terraform">
            <%= partial "layouts/svg/svg-enterprise" %>
          </a>
          <span class="tagline">Collaborative Infrastructure Automation</span>
          <a class="link-highlight" href="https://www.hashicorp.com/terraform.html?utm_source=oss&utm_medium=top-banner&utm_campaign=terraform">
            Find out more <span class="hcaret"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
