<div id="footer-wrap">
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="footer-links col-sm-7 col-xs-12">
					<ul class="footer-links nav navbar-nav">
						<li class="li-under"><a href="/intro/index.html">Intro</a></li>
						<li class="active li-under"><a href="/docs/index.html">Docs</a></li>
		                <li class="li-under"><a href="/community.html">Community</a></li>
					</ul>
				</div>
				<div class="footer-hashi col-sm-5 col-xs-12">
					<div class="pull-right">
						<span>&copy; 2014. A <a href="http://www.hashicorp.com">HashiCorp</a> Project.</span>
						<a class="hashi-logo" href="http://www.hashicorp.com"><i class="hashi-logo"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script type="text/javascript" src="/javascripts/lib/dbg.js"></script>
<script type="text/javascript" src="/javascripts/lib/Base.js"></script>
<script type="text/javascript" src="/javascripts/lib/String.substitute.js"></script>
<script type="text/javascript" src="/javascripts/lib/Vector.js"></script>
<script type="text/javascript" src="/javascripts/app/Logo.js"></script>
<script type="text/javascript" src="/javascripts/app/Shapes.js"></script>
<script type="text/javascript" src="/javascripts/app/Engine.js"></script>
<script type="text/javascript" src="/javascripts/app/Engine.Particle.js"></script>
<script type="text/javascript" src="/javascripts/app/Engine.Particle.Fixed.js"></script>
<script type="text/javascript" src="/javascripts/app/Engine.Point.js"></script>
<script type="text/javascript" src="/javascripts/app/Engine.Polygon.js"></script>
<script type="text/javascript" src="/javascripts/app/Engine.Shape.js"></script>
<script type="text/javascript" src="/javascripts/app/Init.js"></script>

</body>
</html>
