<div class="skew-item" id="footer-wrap">
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="footer-links col-sm-7 col-xs-12">
					<ul class="footer-links nav navbar-nav">
						<li class="li-under"><a href="/intro/index.html">Intro</a></li>
						<li class="active li-under"><a href="/docs/index.html">Docs</a></li>
		        <li class="li-under"><a href="/community.html">Community</a></li>
					</ul>
				</div>
				<div class="footer-hashi col-sm-5 col-xs-12">
					<div class="pull-right">
						<span>Copyright &copy; <%= Time.now.year %>. A <a href="https://www.hashicorp.com">HashiCorp</a> Project.</span>
						<a class="hashi-logo" href="https://www.hashicorp.com"><i class="hashi-logo"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="skew-item" id="footer-bg"></div>
	</div>
</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53231375-1', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript">
adroll_adv_id = "6QAAFJDIWBG3DJBDRJ7BEX";
adroll_pix_id = "PYT5HSNKNRDS7LMUR5B6YG";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<%= javascript_include_tag "application" %>

</body>
</html>
