<div class="skew-item" id="footer-wrap">
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="footer-links col-sm-7 col-xs-12">
					<ul class="footer-links nav navbar-nav">
						<li class="li-under"><a href="/intro/index.html">Intro</a></li>
						<li class="active li-under"><a href="/docs/index.html">Docs</a></li>
		        <li class="li-under"><a href="/community.html">Community</a></li>
					</ul>
				</div>
				<div class="footer-hashi col-sm-5 col-xs-12">
					<div class="pull-right">
						<span>&copy; 2014. A <a href="http://www.hashicorp.com">HashiCorp</a> Project.</span>
						<a class="hashi-logo" href="http://www.hashicorp.com"><i class="hashi-logo"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="skew-item" id="footer-bg"></div>
	</div>
</div>
</div>

<%= javascript_include_tag "all" %>

</body>
</html>
