<div id="footer-wrap">
	<div id="footer">
	<div class="container">
		<div class="footer-links">
			<ul class="main-links nav navbar-nav rls-sb">
				<li class="li-under"><a href="/intro/index.html">Intro</a></li>
				<li class="active li-under"><a href="/docs/index.html">Docs</a></li>
                <li class="li-under"><a href="/community.html">Community</a></li>
				<li class="li-under"><a href="http://demo.terraform.io/">Demo</a></li>
			</ul>

			<ul class="buttons nav navbar-nav rls-sb">
				<li class="first download outline-btn purple"><a href="/downloads.html">Download</a></li>
				<li class="github outline-btn purple"><a href="https://github.com/hashicorp/terraform">Github</a></li>
			</ul>
		</div>
		<div class="footer-logo">
			<span></span>
		</div>
		<div class="footer-hashi os">
			<span>&copy; 2014. A <a href="http://www.hashicorp.com">HashiCorp</a> Project.</span>
			<a class="hashi-logo" href="http://www.hashicorp.com"><img src="/images/footer-hashicorp-logo.png"></a>
		</div>
	</div>
</div>
</div>

<script src="/javascripts/lib/jquery-2.0.3.min.js"></script>
<script src="/javascripts/lib/bootstrap.min.js"></script>
<script src="/javascripts/app/deploy/site.js"></script>

<script>
	APP.initialize();
</script>

</body>
</html>
