<div class="header header-dark">
  <div class="container">
    <div class="header-brand">
      <a class="header-brand-logo" href="/">
        <img src="/assets/images/logo-terraform.svg" alt="Terraform" />
      </a>
    </div>
    <div class="header-toggle">
      <button class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="header-nav hidden-xs" role="navigation">
      <ul>
        <li><a href="/intro/index.html">Intro</a></li>
        <li><a href="/docs/index.html">Docs</a></li>
        <li><a href="/community.html">Community</a></li>
        <li><a href="/downloads.html"><%= partial "layouts/svg/svg-download" %>Download</a></li>
        <li><a href="https://github.com/hashicorp/terraform"><%= partial "layouts/svg/svg-github" %>GitHub</a></li>
      </ul>
    </nav>
  </div>
</div>