<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("downloads-terraform") %>>
				<a href="/downloads.html">Download Terraform</a>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
