<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("downloads-terraform") %>>
				<a href="/downloads.html">Download Terraform</a>
				</li>

				<li<%= sidebar_current(/^upgrade-guides/) %>>
				<a href="/upgrade-guides/index.html">Upgrade Guides</a>
				<ul class="nav">
					<li<%= sidebar_current("upgrade-guides-0-7") %>>
					<a href="/upgrade-guides/0-7.html">Upgrading to v0.7</a>
					</li>
        </ul>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
