<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("guides-writing-custom-terraform-providers") %>>
        <%= link_to "Writing Custom Providers", "/guides/writing-custom-terraform-providers.html" %>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
