<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li>
					<a href="/docs/enterprise/index.html">&laquo; Terraform Enterprise</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise-runs-index/) %>>
					<a href="/docs/enterprise/runs/index.html">Runs</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise-runs-/) %>>
					<a href="#">Starting</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-enterprise-runs-starting") %>>
							<a href="/docs/enterprise/runs/starting.html">local</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
