//
// Hashicorp header
// - Shared throughout projects
// - Edits should not be made here
// --------------------------------------------------

$hashicorp-header-height:               100px;
$hashicorp-header-z-index:              1000;

$hashicorp-header-breakpoint-xs:        570px;
$hashicorp-header-breakpoint-sm:        768px;
$hashicorp-header-breakpoint-md:        992px;

$hashicorp-header-color-black:          black;
$hashicorp-header-color-white:          white;

$hashicorp-header-font-family:          'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$hashicorp-header-font-size-base:       14px;
$hashicorp-header-line-height-base:     20px;


@function hashicorp-header-em($size, $base: $hashicorp-header-font-size-base) {
  @return $size / $base * 1em;
}


.header {
  background: red;
  font-family: $hashicorp-header-font-family;
  font-size: $hashicorp-header-font-size-base;
  min-height: hashicorp-header-em($hashicorp-header-height);
  position: relative;
  z-index: $hashicorp-header-z-index;

  &,
  > .container {
    align-items: center;
    display: flex;
  }
  
  > .container {
    @media (max-width: $hashicorp-header-breakpoint-sm - 1px) {
      flex-grow: 1;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.25s ease;
    will-change: opacity;
  }
}

.header-dark {
  background-color: $hashicorp-header-color-black;
  color: $hashicorp-header-color-white;
}

.header-light {
  background-color: $hashicorp-header-color-white;
  color: $hashicorp-header-color-black;
}

.header-brand {
  align-items: center;
  display: inline-flex;
}

.header-brand-logo {
  align-items: center;
  display: inline-flex;
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  img {
    height: hashicorp-header-em(40px);
    width: auto;
  }

  @media (min-width: $hashicorp-header-breakpoint-xs) {
    height: hashicorp-header-em(40px);
  }
}

.header-toggle {
  margin-left: auto;

  .navbar-toggle {
    //overwrite bootstrap styles
    border-radius: 0;
    border: 0;
    float: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    position: static;
  }

  .icon-bar {

    .header-dark & {
      background-color: $hashicorp-header-color-white;
    }
      
    .header-light & {
      background-color: $hashicorp-header-color-black;
    }
  }
}

.header-nav {
  margin-left: auto;

  > ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-left: hashicorp-header-em(-$hashicorp-header-line-height-base);
    padding-left: 0;

    > li {
      padding-left: hashicorp-header-em($hashicorp-header-line-height-base);
    }
  }

  a {
    opacity: 0.75;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  svg {
    height: 1em;
    margin-right: hashicorp-header-em($hashicorp-header-line-height-base / 4);
    vertical-align: hashicorp-header-em(-2px);

    .header-dark & * {
      fill: $hashicorp-header-color-white;
    }

    .header-light & * {
      fill: $hashicorp-header-color-black;
    }
  }
}