region = "us-central1"
region_zone = "us-central1-a"
project_name = "my-project-id-123"
account_file_path = "~/.gcloud/Terraform.json"
public_key_path = "~/.ssh/gcloud_id_rsa.pub"
private_key_path = "~/.ssh/gcloud_id_rsa"
